{% set title = 'WebSoho Test' %}
{% extends 'layouts/_main.html' %}
{% block content %}
<div class="main">
    <div class="container">
        <div class="main__left">
            <div class="main__left__title">Voluptatum deleniti atque corrupti, quos dolores</div>
            <div class="main__left__desc">Totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et dolore. Dicta sunt, explicabo a sapiente delectus. Dicta sunt, explicabo optio, cumque nihil. Voluptatibus maiores alias consequatur aut perferendis.</div>
            <div class="main__left__items">
                <!-- main__left__item -->
                <div class="main__left__item">
                    <img src="img/main__left__item-1.png" alt="" class="main__left__item__icon">
                    <div class="main__left__item__title">dolores et <br> voluptates</div>
                    <button class="btn">Подробнее</button>
                </div>
                <!--END main__left__item -->
                <!-- main__left__item -->
                <div class="main__left__item">
                    <img src="img/main__left__item-2.png" alt="" class="main__left__item__icon">
                    <div class="main__left__item__title">dolores et <br> voluptates</div>
                    <button class="btn">Подробнее</button>
                </div>
                <!--END main__left__item -->
                <!-- main__left__item -->
                <div class="main__left__item">
                    <img src="img/main__left__item-3.png" alt="" class="main__left__item__icon">
                    <div class="main__left__item__title">dolores et <br> voluptates</div>
                    <button class="btn">Подробнее</button>
                </div>
                <!--END main__left__item -->
                <!-- main__left__item -->
                <div class="main__left__item">
                    <img src="img/main__left__item-4.png" alt="" class="main__left__item__icon">
                    <div class="main__left__item__title">dolores et <br> voluptates</div>
                    <button class="btn">Подробнее</button>
                </div>
                <!--END main__left__item -->
            </div>
        </div>
        <div class="main__right">
            <div class="main__right__items">
                <!-- main__right__item -->
                <div class="main__right__item">
                    <div class="main__right__item__num__wrapper">
                        <div class="main__right__item__num">15</div>
                    </div>
                    <div class="main__right__item__title">минут</div>
                    <div class="main__right__item__desc">consequatur <br> aut fugit</div>
                </div>
                <!--END main__right__item -->
                <!-- main__right__item -->
                <div class="main__right__item">
                    <div class="main__right__item__num__wrapper">
                        <div class="main__right__item__num">3</div>
                    </div>
                    <div class="main__right__item__title">дня</div>
                    <div class="main__right__item__desc">voluptas sit,<br>
                        aspernatur</div>
                </div>
                <!--END main__right__item -->
                <!-- main__right__item -->
                <div class="main__right__item">
                    <div class="main__right__item__num__wrapper">
                        <div class="main__right__item__num">24</div>
                    </div>
                    <div class="main__right__item__title">часа</div>
                    <div class="main__right__item__desc">consectetur,<br>
                        adipisci velit</div>
                </div>
                <!--END main__right__item -->
                <!-- main__right__item -->
                <div class="main__right__item">
                    <div class="main__right__item__num__wrapper">
                        <div class="main__right__item__num">365</div>
                    </div>
                    <div class="main__right__item__title">дней</div>
                    <div class="main__right__item__desc">perferendis doloribus<br>
                        asperiores</div>
                </div>
                <!--END main__right__item -->
            </div>
            <div class="main__right__title">Rerum necessitatibus saepe eveniet, ut perspiciatis</div>
        </div>
    </div>
</div>
{% endblock %}